*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	font-weight: 300;
	color: #9c9c9c;
	font-family: "Poppins";
	background-color: #0D0D11;
}

/* ====================================================================================================== */

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[class*="__container"] {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}

.page {
	flex: 1 1 auto;
}


/* ====================================================================================================== */
.button {
	background-color: #3D96F4;
	border-radius: 50px;
	font-weight: 500;
	font-size: 14px;
	line-height: 157.142857%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	letter-spacing: 1px;
	color: #FFFFFF;
	padding: 16px 30px;
	transition: background-color 0.3s ease 0s;

}

.button:hover {
	background-color: #8bbbee;
}

.button_dark {
	background: rgba(129, 129, 139, 0.2);
}

.button_dark:hover {
	background: rgba(129, 129, 139, 1);
}

@media (max-width: 991.98px) {
	.button {
		padding: 14px 20px;
		font-size: 12px;
	}
}

.label {
	display: inline-block;
	border: 1px solid rgba(129, 129, 139, 0.2);
	border-radius: 12px;
	font-size: 11px;
	line-height: 160%;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #9C9C9C;
	padding: 11px 19px;
	transition: border 0.3s ease 0s;
}

.label:hover {
	border: 1px solid rgba(243, 243, 247, 0.5);
}

/* ====================================================================================================== */

.title {
	font-weight: 500;
	font-size: 51px;
	line-height: 119.607843%;
	color: #FFFFFF;

}

.text {
	font-size: 18px;
	line-height: 150%;

}

/* ============================== ---- HEADER ---- ====================================================== */


.header {
	/* position: fixed; */
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgb(13, 13, 17, 0.5);
	z-index: 50;
}

.header__container {
	display: flex;
	align-items: center;
	min-height: 116px;
	padding-top: 5px;
	padding-bottom: 5px;
	column-gap: 35px;

}

.header__menu {
	flex: 1 1 auto;
}

.header__button {
	flex: 0 0 auto;
}

.menu__list {
	display: flex;
	justify-content: flex-end;
	column-gap: 35px;
	row-gap: 3px;
	flex-wrap: wrap;

}

.menu__link {
	display: block;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.62;
	color: #FFFFFF;
}

.menu__link:hover {
	text-decoration: underline;
}

.cart-header {
	color: #FFFFFF;
	display: flex;
	align-items: center;
	gap: 5px;
}

.cart-header:hover .cart-header__text {
	text-decoration: underline;
}

.cart-header__text {
	font-size: 18px;
	line-height: 1.55;
}

.cart-header__quantity {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(129, 129, 139, 0.3);
	border-radius: 29.9375px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1;
}

.icon-menu {
	display: none;
}

.header__logo,
.header__cart,
.header__button {
	position: relative;
	z-index: 5;
}

@media (max-width: 991.98px) {

	.menu__body,
	.header__container {
		column-gap: 25px;
	}

	.header__container {
		min-height: 90px;
	}
}

@media (max-width: 767.98px) {

	.menu__body,
	.header__container {
		column-gap: 10px;
	}

	.header__container {
		min-height: 70px;
	}

	.icon-menu {
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
		z-index: 5;
		background-color: inherit;
	}

	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		right: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #fff;
		transition: all 0.3s ease 0s;
	}

	.icon-menu::before {
		top: 0;
	}

	.icon-menu::after {
		bottom: 0;
	}

	.icon-menu span {
		top: calc(50% - 1px);
	}

	.menu-open .icon-menu span {
		width: 0;
	}

	.menu-open .icon-menu::before {
		top: calc(50% - 1px);
		transform: rotate(-45deg);
	}

	.menu-open .icon-menu::after {
		bottom: calc(50% - 1px);
		transform: rotate(45deg);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #000;
		padding: 100px 15px 30px 15px;
		overflow: auto;
		transition: left 0.3s ease 0s;
	}

	.menu__body::before {
		content: "";
		width: 100%;
		height: 70px;
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #000;
		z-index: 2;
		transition: left 0.3s ease 0s;
	}

	.menu__list {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		row-gap: 10px;
	}

	.menu__link {
		font-size: 32px
	}
}

.menu-open .menu__body,
.menu-open .menu__body::before {
	left: 0;
}

@media (max-width: 560px) {
	.header__logo {
		width: 44px;
		overflow: hidden;
		flex: 0 0 44px;
	}

	.cart-header__text {
		display: none;
	}

	.cart-header__quantity {
		height: 50px;
		width: 40px;
		padding-top: 12px;
		background: url(../img/icons/cart.svg) center / auto 100% no-repeat;
	}
}



/* ============================== ---- page__main---- ====================================================== */


.main {
	padding-top: 160px;
	padding-bottom: 100px;
}

.main__container {
	display: flex;
}

.main__content {
	flex: 0 1 50%;
	align-self: center;
}

.main__title {
	position: relative;
	margin-bottom: 28px;
}

.main__title::before {
	content: "";
	position: absolute;
	width: 122px;
	height: 122px;
	top: -10px;
	left: -34px;
	background: url(..//img/image/decor_main.svg) 0 0 / 100% no-repeat;
}

.main__text {
	margin-bottom: 33px;
}

@media (min-width: 768px) {

	.main__title,
	.title {
		max-width: 520px;
	}

	.main__text,
	.text {
		max-width: 500px;
	}
}

.main__actions {
	display: flex;
	column-gap: 32px;
	row-gap: 15px;
}

.main__images {
	flex: 0 1 50%;
}

.images-main {
	display: flex;
	gap: 9.615385%;
	justify-content: center;

}

.images-main__column {
	display: flex;
	flex-direction: column;
	row-gap: 32px;

}

.images-main__item img {
	max-width: 100%;
}


.images-main__item_1 img {
	border-radius: 50% / 29%
}

.images-main__item_2 img {
	border-radius: 50% 50% 0 50%;
}

.images-main__item_3 img {
	border-radius: 50% 0 50% 50%;
}

.images-main__item_4 img {
	border-radius: 50% / 29%
}

@media (max-width: 991.98px) {
	.main {
		padding-top: 120px;
		padding-bottom: 60px;
	}

	.main__title {
		font-size: 42px;
		margin-bottom: 25px;
	}


}

@media (max-width: 767.98px) {
	.main {
		padding-top: 100px;
		padding-bottom: 30px;
	}

	.main__title,
	.title {
		font-size: 32px;
		margin-bottom: 15px;
	}

	.main__text,
	.text {
		margin-bottom: 15px;
	}

	.main__container {
		flex-direction: column;
	}

	.main__content {
		margin-bottom: 15px;
		align-self: stretch;
	}
}

@media (max-width: 479.98px) {
	.main__actions {
		flex-direction: column;
	}

	.main__button {
		width: 100%;
	}
}


/* ========================= ---- clients ---- ========================================================= */


.clients {
	padding-top: 100px;
	padding-bottom: 70px;
}

.clients__title {
	text-align: center;
	font-size: 14px;
	line-height: 157.142857%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 44px;
}

.clients__items {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 10px;
}

.clients__item img {
	max-width: 100%;
}

@media (max-width: 991.98px) {
	.clients {
		padding-top: 50px;
		padding-bottom: 40px;
	}
}

@media (max-width: 767.98px) {

	.clients {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.clients__title {
		margin-bottom: 20px;
	}
}


/* ========================= ---- page__services ---- =================================================== */


.services {
	padding-top: 90px;
	padding-bottom: 90px;
}

.services__container {
	display: flex;
	gap: 32px;
}

.services__content {
	flex: 0 1 50%;
	align-self: center;
}

.services__label {
	margin-bottom: 19px;
}

.services__title {
	margin-bottom: 12px;

}

.services__text {
	margin-bottom: 33px;

}

.services__actions {
	display: flex;
	flex: 0 1 162px;
}

.services__items {
	flex: 0 1 50%;
	display: flex;
	justify-content: center;
	gap: 32px;
}

.services__column:first-child {
	padding-top: 48px;
}

.item-service {
	background: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
	padding: 55px 25px;
}

.item-service:not(:last-child) {
	margin-bottom: 32px;
}

.item-service__icon:not(:last-child) {
	margin-bottom: 16px;
}

.item-service__title {
	font-weight: 400;
	font-size: 19px;
	line-height: 142%;
	color: #FFFFFF;
}

.item-service__title:not(:last-child) {
	margin-bottom: 10px;
}

.item-service__text {
	font-size: 16px;
	line-height: 150%;
	color: #81818B;
}

@media (max-width: 1099.98px) {
	.services__container {
		flex-direction: column;
	}

	.title,
	.text {
		max-width: none;
	}
}

@media (max-width: 991.98px) {
	.services {
		padding-top: 50px;
		padding-bottom: 40px;
	}
}

@media (max-width: 767.98px) {

	.services {
		padding-top: 30px;
		padding-bottom: 20px;
	}
}

@media (max-width: 619.98px) {
	.services__items {
		flex-direction: column;
	}

	.services__column:first-child {
		padding-top: 0px;
	}

	.services__button {
		width: 100%;
	}
}


/* ========================= ---- page__why ---- =================================================== */
.why {
	padding-top: 100px;
	padding-bottom: 100px;
}

.why__container {
	display: flex;
	column-gap: 64px;
	row-gap: 32px;
}

.why__images {
	flex: 0 1 50%;

}

.images-why {
	display: flex;
	position: relative;
	align-self: flex-end;
}

.images-why::before {
	content: "";
	position: absolute;
	width: 122px;
	height: 122px;
	bottom: -10px;
	left: 0;
	background: url(..//img/image/decor_main.svg) 0 0 / 100% no-repeat;
}

.images-why__item {
	overflow: hidden;
}

.images-why__item img {
	max-width: 100%;
}

.images-why__item_1 {
	position: relative;
	z-index: 2;
	border-radius: 90% 0px 50% 50% / 50% 0px 30% 30%;
}

.images-why__item_2 {
	align-self: flex-end;
	border-radius: 50% 50% 50% 0%;
}


.why__content {
	flex: 0 1 50%;
	align-self: center;
}

.why__label {
	margin-bottom: 43px;
}

.why__title {
	margin-bottom: 40px;
}

.why__text {
	margin-bottom: 35px;
}

.why__list li {
	position: relative;
	padding-left: 42px;
	min-height: 32px;
	font-size: 16px;
	line-height: 150%;
	padding-top: 4px;
}

.why__list li:not(:last-child) {
	margin-bottom: 21px;
}

.why__list li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	background: rgba(129, 129, 139, 0.1) url(../img/icons/check-li.svg) center no-repeat;
}


@media (max-width: 991.98px) {
	.why {
		padding-top: 50px;
		padding-bottom: 40px;
	}
}

@media (max-width: 767.98px) {

	.why {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.why__container {
		flex-direction: column-reverse;
	}

	.why__label {
		margin-bottom: 25px;
	}

	.why__title {
		margin-bottom: 25px;
	}

	.why__text {
		margin-bottom: 20px;
	}

	.why__list li:not(:last-child) {
		margin-bottom: 15px;
	}
}


/* ========================= ---- page__advantages ---- ================================================= */


.advantages {
	padding-top: 90px;
	padding-bottom: 90px;
}

.advantages__container {
	display: flex;
	column-gap: 32px;
	row-gap: 32px;

}

.advantages__items {
	flex: 1 1 auto;
	display: flex;
	column-gap: 32px;

}

.advantages__column {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
}

.advantages__item {
	background: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
	padding: 40px;
}

.advantages__value {
	font-weight: 500;
	font-size: 51px;
	line-height: 120%;
	color: #FFFFFF;
}

.advantages__value:not(:last-child) {
	margin-bottom: 32px;
}

.advantages__text {
	font-size: 18px;
	line-height: 150%;
}

.advantages__image {
	flex: 0 0 38%;
	align-self: flex-start;
	overflow: hidden;
	border-radius: 0 67% 60% 60% / 0 67% 50% 50%;
}

.advantages__image img {
	max-width: 100%;
	transform: scale(1.01);
}

@media (max-width: 991.98px) {
	.advantages {
		padding-top: 50px;
		padding-bottom: 40px;
	}

	.advantages__container {
		flex-direction: column;
	}

	.advantages__image {
		align-self: center;
	}

}

@media (max-width: 767.98px) {

	.advantages {
		padding-top: 30px;
		padding-bottom: 20px;
	}
}

@media (max-width: 650px) {
	.advantages__items {
		flex-wrap: wrap;
		row-gap: 32px;
	}

	.advantages__value:not(:last-child) {
		margin-bottom: 20px;
	}
}


/* ========================= ---- page__testimonials ---- =============================================== */


.testimonials {
	padding-top: 100px;
	padding-bottom: 100px;
}

.testimonials__content {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	margin-bottom: 64px;
}

.testimonials__label {
	margin-bottom: 25px;
}

.testimonials__title {
	margin-bottom: 12px;
	max-width: none;
}

.testimonials__text {
	max-width: 740px;
}

.testimonials__actions,
.testimonials__body {
	align-self: flex-end;
}

.testimonials__items {
	display: flex;
	column-gap: 48px;
}

.testimonials__item {
	background: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
	padding: 64px 40px;
	flex: 0 1 33.333%;
	display: flex;
	flex-direction: column;
	row-gap: 34px;
	min-height: 100%;
}

.user-testimonial {
	display: flex;
	column-gap: 16px;
}

.user-testimonial__avatar {
	flex: 0 0 68px;
	overflow: hidden;
}

.user-testimonial__avatar_1 {
	border-radius: 0 50% 50% 50%;
}

.user-testimonial__avatar_2 {
	border-radius: 50% 0 50% 50%;
}

.user-testimonial__avatar_3 {
	border-radius: 50% 50% 0 50%;
}

.user-testimonial__avatar img {
	max-width: 100%;
	transform: scale(1.02);
}

.user-testimonial__body {
	align-self: center;
}

.user-testimonial__title {
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
}

.user-testimonial__company {
	font-size: 14px;
	line-height: 160%;
}

.item-testimonial__title {
	font-weight: 400;
	font-size: 32px;
	line-height: 140%;
	color: #FFFFFF;
}

.item-testimonial__text {
	font-size: 16px;
	line-height: 150%;
	flex: 1 1 auto;
}

.item-testimonial__rating {
	align-self: flex-start;
}

.simple-rating {
	position: relative;
	font-size: 20px;
	display: inline-block;
}

.simple-rating::before {
	content: "★★★★★";
	display: block;
}

.simple-rating__items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}

.simple-rating__item {
	position: absolute;
	width: 0%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
}

.simple-rating__label {
	flex: 0 0 20%;
	height: 100%;
	cursor: pointer;
	color: #f0dbbb;
}


.simple-rating__label::before {
	content: "★";
	display: block;
	transition: all 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked~.simple-rating__label {
	color: #FFC54F;
}

.simple-rating__label:hover,
.simple-rating__label:hover~.simple-rating__label,
.simple-rating__label:checked~.simple-rating__label:hover {
	color: #ffef9f;
}


@media (max-width: 991.98px) {
	.testimonials {
		padding-top: 50px;
		padding-bottom: 40px;
	}

	.testimonials__content {
		margin-bottom: 40px;
	}

	.testimonials__text {
		max-width: none;
	}

	.testimonials__actions {
		flex: 0 0 auto;
	}

	.testimonials__items {
		flex-wrap: wrap;
		row-gap: 20px;
	}

	.testimonials__item {
		flex: 0 1 auto;
		row-gap: 20px;
	}
}

@media (max-width: 767.98px) {
	.testimonials {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.testimonials__content {
		flex-direction: column;
		flex: 0 1 auto;
		margin-bottom: 20px;
	}

	.testimonials__actions {
		align-self: flex-start;
	}

	.testimonials__label {
		margin-bottom: 15px;
	}

	.testimonials__item {
		padding: 30px 20px;
	}
}

@media (max-width: 479.98px) {
	.testimonials__actions {
		width: 100%;
	}
}


/* ========================= ---- page__blog ---- ====================================================== */



.blog {
	padding-top: 90px;
	padding-bottom: 90px;
}

.blog__content {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	margin-bottom: 64px;
}

.blog__label {
	margin-bottom: 25px;
}

.blog__title {
	margin-bottom: 12px;
}

.blog__text {
	max-width: 740px;
}

.blog__actions .main__button {
	padding: 16px 42px;
}

.blog__actions,
.blog__body {
	align-self: flex-end;
}

.blog__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 48px;
}

.item-blog {
	background: rgba(129, 129, 139, 0.1);
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.item-blog__header {
	position: relative;
}

.item-blog__category {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	background: rgba(129, 129, 139, 0.5);
	border-radius: 0px 10px 0px 0px;
	font-size: 14px;
	line-height: 160%;
	color: #FFFFFF;
}

.item-blog__image {
	display: block;
	position: relative;
	padding-bottom: 49%;

}

.item-blog__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.item-blog__body {
	padding: 36px 26px;
}

.item-blog__date {
	font-size: 16px;
	line-height: 150%;
	color: rgba(129, 129, 139, 0.9);
}

.item-blog__date:not(:last-child) {
	margin-bottom: 20px;
}

.item-blog__title {
	font-weight: 400;
	font-size: 19px;
	line-height: 142%;
	color: #FFFFFF;
}

.item-blog__title:hover {
	text-decoration: underline;
}

.item-blog__title:not(:last-child) {
	margin-bottom: 30px;
}

.item-blog__text {
	font-size: 16px;
	line-height: 150%;
}

.item-blog__text:not(:last-child) {
	margin-bottom: 21px;
}

.item-blog__link {
	font-size: 14px;
	line-height: 160%;
	color: #3D96F4;
	position: relative;
	padding-right: 24px;
}

.item-blog__link:hover {
	text-decoration: underline;
}

.item-blog__link::after {
	content: '';
	width: 14px;
	height: 14px;
	border: 1px solid #3D96F4;
	position: absolute;
	top: 3px;
	right: 0;
}

@media (max-width: 1099.98px) {
	.blog__items {
		gap: 20px;
	}

	.item-blog__body {
		padding: 25px 15px;
	}
}


@media (max-width: 991.98px) {
	.blog {
		padding-top: 50px;
		padding-bottom: 40px;
	}

	.blog__text {
		max-width: none;
	}

	.blog__actions {
		flex: 0 0 auto;
	}
}

@media (max-width: 767.98px) {
	.blog {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.blog__content {
		flex-direction: column;
		flex: 0 1 auto;
		margin-bottom: 20px;
	}

	.blog__actions {
		align-self: flex-start;
	}

	.blog__items {
		grid-template-columns: auto;
	}
}

@media (max-width: 479.98px) {
	.blog__actions {
		width: 100%;
	}

	.blog__actions .main__button {
		padding: 14px 20px;
	}
}


/* ========================= ---- page__start ---- =================================================== */


.page__start {
	margin-bottom: 100px;
}

@media (max-width: 991.98px) {
	.page__start {
		margin-bottom: 50px;
	}
}

.start {
	padding-top: 100px;
}

.start__body {
	display: flex;
	background: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
	padding: 52px 40px;
	justify-content: center;
	align-items: center;
	row-gap: 20px;
}

.start__column {
	flex: 0 1 50%;
	text-align: center;
}

.start__title {
	font-weight: 400;
	font-size: 32px;
	line-height: 145%;
	color: #FFFFFF;
}

.start__title:not(:last-child) {
	margin-bottom: 16px;
}

.start__text {
	font-size: 16px;
	line-height: 150%;
}

.start__actions {
	display: flex;
	justify-content: center;
	column-gap: 32px;
}

@media (max-width: 991.98px) {
	.start {
		padding-top: 50px;
	}

	.start__title {
		font-size: 24px;
	}

	.start__text {
		font-size: 14px;
	}
}

@media (max-width: 767.98px) {

	.start {
		padding-top: 30px;
	}
}

@media (max-width: 670px) {
	.start__body {
		flex-direction: column;
	}
}

@media (max-width: 479.98px) {

	.start__body {
		align-items: stretch;
	}

	.start__actions {
		flex-direction: column;
		row-gap: 15px;
	}
}


/* ========================= ---- footer ---- ================================= */


.footer__main {
	padding-top: 160px;
	padding-bottom: 160px;
}

@media (max-width: 991.98px) {
	.footer__main {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

@media (max-width: 767.98px) {
	.footer__main {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.main-footer__container {
	display: grid;
	grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
	column-gap: 64px;
}

@media (max-width: 1099.98px){
	.main-footer__container {
		gap: 45px;
		grid-template-columns: minmax(auto, 378px) auto auto;
	}

	.main-footer__column:nth-child(1){
		grid-column: span 3;
	}
}

@media (max-width: 767.98px){
	.main-footer__container {
		gap: 35px;
		grid-template-columns: auto auto;
	}

	.main-footer__column:nth-child(1){
		grid-column: span 2;
	}

	.main-footer__column:nth-child(4){
		grid-column: span 2;
	}
}

.main-footer__column {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.main-footer__text {
	font-size: 16px;
	line-height: 150%;
}

.main-footer__social {
	display: flex;
	column-gap: 16px;
}

.social__link {
	padding: 8px;
	border: 1px solid rgba(129, 129, 139, 0.9);
	border-radius: 36px;
	transition: border-color 0.3s ease 0s;
}

.social__link:hover {
	border-color: #fff;
}

.main-footer__label {
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 1px;
	color: #FFFFFF;
}

.menu-footer__list {
	display: grid;
	gap: 24px;
}

.menu-footer__link {
	font-size: 16px;
	line-height: 150%;
}

.menu-footer__link:hover {
	color: #fff;
}

.subscribe__text {
	font-size: 16px;
	line-height: 150%;
}

.subscribe__form {
	display: flex;
	gap: 16px;
}

@media (max-width: 479.98px){
	.subscribe__form {
		flex-direction: column;
	}
}

.subscribe__input {
	height: 52px;
	border: 1px solid rgba(129, 129, 139, 0.3);
	border-radius: 50px;
	padding: 0 30px;
	color: #fff;
	background-color: transparent;
}

.subscribe__input::placeholder {
	color: #9C9C9C;
}

.bottom-footer {
	border: 1px solid rgba(129, 129, 139, 0.2);
}

.bottom-footer__copy {
	padding: 45px 0;
	font-size: 14px;
	line-height: 160%;
	text-align: center;
}

@media (max-width: 767.98px){
	.bottom-footer__copy {
		padding: 20px 0;
	}
}


/* ========================= ----END---- ================================= */